{% extends "base.html" %} {% load static %} {% block content %}
<!-- Optional JavaScript; choose one of the two! -->
<!-- Create a form for price prediction location,sqft,bath,bhk  and make dropdown for loaction with col size medium container-->
<h2 class="text-center mt-3">Price Prediction</h2>
<div class="container mt-5">
  <div class="row" style="margin-bottom: 50px">
    <div class="col-md-6 offset-md-3">
      <h3>Enter Property Details</h3>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="location">Location:</label>
          <select class="form-control" id="location" name="location">
            <option value="" disabled selected>Select Location</option>
            {% for location in location %}
            <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="sqft">Square Feet:</label>
          <input
            type="number"
            class="form-control"
            id="sqft"
            name="sqft"
            required
          />
        </div>
        <div class="form-group">
          <label for="bath">Number of Bathrooms:</label>
          <input
            type="number"
            class="form-control"
            id="bath"
            name="bath"
            required
          />
        </div>
        <div class="form-group">
          <label for="bhk">Number of Bedrooms:</label>
          <input
            type="number"
            class="form-control"
            id="bhk"
            name="bhk"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Predict Price</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
